blockquote p {
	font-size: 14px;
	font-weight: normal;
}

.roll p {
	margin: 0;
}

.roll h3 {
	margin: 0 0 15px;
}

.panel {
	margin-bottom: 0;
}

.spellList {
	border-left: 5px solid #eee;
	margin-bottom: 10px;
}

.spellList tr td:first-child {
	text-align: center;
	padding-left: 20px;
}

.spellList tr td.separator {
	text-align: center;
	padding: 10px 0 0;
}

.spellList tr td.per-day {
	text-align: center;
	padding-left: 0;
}

.spellList tr td {
	padding: 10px 10px 0;
}

.spellList p {
	padding: 0 0 10px 20px;
}

.spellList tr:last-child td {
	padding-bottom: 10px;
}

.cast {
	text-decoration: line-through;
}

.stat-block-section td:first-child {
	font-weight: bold;
	padding-right: 0.5em;
}
.stat-block-section td {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.yellow {
	color: yellow;
}