blockquote p {
	font-size: 14px;
	font-weight: normal;
}

.roll p {
	margin: 0;
}

.roll h3 {
	margin: 0 0 15px;
}

.panel {
	margin-bottom: 0;
}

.spellList {
	border-left: 5px solid #eee;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.spellList thead {
	display: none;
}

.spellList tr td {
	text-align: center;
	padding: 10px 5px 0;
}

.spellList del, .spellList del > a {
	color: #A8C3DA;
}

.spellList tr td:first-child {
	padding-left: 15px;
}

.spellList tr td:last-child {
	text-align: left;
}

.spellList p {
	padding: 10px 0 0 15px;
	margin: 0;
}

.text-italic {
	font-style: italic;
}

.text-bold {
	font-weight: bold;
}

.portrait {
	margin-top: -21px;
	float: right;
	padding: 10px;
	border-radius: 0;
}