@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:600|Source+Sans+Pro:400,400italic,600);

body {
	background-color: #4b4b4b;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}

img {
	border: 1px solid #a5a5a5;
	display: block;
	max-height: 100%;
	max-width: 100%;
	padding: 10px;
}

small {
	color: #a5a5a5;
	margin-right: 1px;
}

a {
	color: #2c9fab;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 10px;
	font-weight: normal;
}

h1 {
	margin: 20px 0;
	font-size: 28px;
}

p {
	margin: 10px 0;
	line-height: 20px;
}

/* main.html */
.index {
	border: 1px solid #a5a5a5;
	border-left: 0;
	border-right: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 0;
}

.index img {
	border-bottom: 0;
	border-top: 0;
}

.index .portrait {
	background-color: #4b4b4b;
	padding-right: 0;
}

/* character.html */
.character {
	padding-top: 0;
}

.character img {
	border-top: 0;
}

.character .portrait {
	background-color: #4b4b4b;
	margin-top: -20px;
	padding-left: 20px;
	padding-right: 0;
}

hr {
	margin: 20px 0;
	border: 0;
	height: 1px;
	background-color: #a5a5a5;
}

roll {
	margin-right: 1px;
	background-color: #262626;
	border-radius: 3px;
	padding: 0 3px;
	color: #2c9fab;
	font-family: 'Source Code Pro', monospace;
	font-weight: bold;
}

.spells {
	border-left: 1px solid #a5a5a5;
	padding-left: 20px;
}

.spells table td {
	padding: 5px 10px 5px 0;
}


.spells table thead {
	display: none;
}

.spells p {
	margin: 0;
	padding: 5px 0;
}

.spells .unprepared {
	color: #a5a5a5;
}

.spells del,
.spells del a {
	color: #3c757b;
}

@media handheld, only screen and (max-width: 767px) {
	section {
		margin-right: 10px;
	}
}