body {
	padding-bottom: 20px;
}

code {
	font-size: 100%;
}

roll code {
    cursor: pointer;
    cursor: hand;
}

.roll p {
    margin: 0;
}

.roll h3 {
    margin: 0 0 15px;
}

.panel {
    margin-bottom: 0;
}

.spellList {
    border-left: 5px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.spellList thead {
    display: none;
}

.spellList table {
    max-width: 100%;
}

.spellList tr td {
    text-align: center;
    padding: 10px 5px 0;
}

.spellList del, .spellList del > a {
    color: #A8C3DA;
}

.spellList tr td:first-child {
    padding-left: 15px;
}

.spellList tr td:last-child {
    text-align: left;
}

.spellList p {
    padding: 10px 0 0 15px;
    margin: 0;
}

.portrait-sm {
    margin: -21px 0 0 20px;
    padding: 10px;
    border-radius: 0;
}

.portrait-xs {
    margin: -21px 0 20px;
    padding: 10px;
    border-radius: 0;
}

.portrait-list-sm {
    margin: -21px 20px -21px 0;
    padding: 10px;
    border-radius: 0;
}

.portrait-list-xs {
    margin: -21px 0 20px;
    padding: 10px;
    border-radius: 0;
}

.character-list-text {
    margin: 0 20px;
}

.img-thumbnail {
    border-color: #eee;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.mode-switcher {
    display: none;
    float: right;
    margin-top: 13.5px;
    font-size: 19.5px;
    color: #999;

}

h2:hover > .mode-switcher {
    display: inline;
}

.mode-switcher a {
    color: #999;
}

.btn-sm {
    padding: 7px 10px;
}

.form-control.cr {
    width: 50px !important;
    text-align: center;
}
.form-control.portrait {
    width: 100px !important;
}