@media print {
	body {
		background-color: #fff;
		color: #000;
	}
	.hide-on-print {
		display: none;
	}
	h1 {
		margin: 0;
	}
	.character {
		page-break-after: always;
	}
	p {
		margin: 5px 0;
	}
	img {

		padding: 0;
		border: none;
	}
	.spells {
		border: none;
	}
	.spells table td,
	.spell p {
		padding-top: 2.5px;
		padding-bottom: 2.5px;
	}
	small {
		color: #a5a5a5;
	}
	section {
		margin: 0;
	}
	hr {
		background-color: #fff;
		margin: 10px;
	}
	roll {
		background-color: #fff;
		margin: 0;
		border: none;
		border-radius: 0;
		padding: 0;
	}
	.no-break {
		page-break-inside: avoid !important;
	}
	.character .portrait {
		background-color: #fff;
		margin-top: 0;
	}
}