<div ng-if="res != null" class="panel" ng-class="style">
	<div class="panel-heading">
		<h3 class="panel-title text-center">
			<md	md="name.toLowerCase()">&#32;({{dieSpec}})</md>
		</h3>
	</div>
	<div class="panel-body roll">
		<h3 class="text-center"><kbd>{{total}}</kbd></h3>
		<p class="text-center">
			<span ng-repeat="r in res track by $index">
				<kbd ng-if="r > 0">{{r}}</kbd>
				<code ng-if="r < 0">{{-r}}</code>
			</span>
		</p>
	</div>
</div>
<div ng-if="res == null"class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title">Error!</h3>
	</div>
	<div class="panel-body">
		<span>Invalid dice string: {{dieSpec}}</span>
	</div>
</div>