<div id="{{c.info.name.toLowerCase()}}" ng-repeat="c in characters">
	<h2>
		{{c.info.name}}&#32;
		<small>
			CR&#32;<e d="c.info.cr"></e>
		</small>
	</h2>
	<div>
		<hr>
		<section id="{{c.info.name.toLowerCase()}}-info">
			<img ng-if="c.info.portrait" ng-src="{{c.info.portrait}}" class="hidden-xs col-sm-4 portrait img-responsive img-thumbnail">
			<p ng-if="c.info.race || c.info.classes || c.info.alignment">
				<e d="c.info.race">&#32;</e>
				<e d="c.info.classes">&#32;</e>
			</p>
			<p>
				<e d="c.info.alignment">&#32;</e>
				<e d="c.info.size">&#32;</e>
				<e d="c.info.type">&#32;</e>
				<span ng-if="c.info.subtypes">
					(
					<e ng-repeat="subtype in c.info.subtypes" d="subtype">
						<span ng-if="!$last">,&#32;</span>
					</e>
					)
				</span>
			</p>
			<p>
				<b>Initiative</b>
				&#32;<roll name="'Initiative'" die="prependToString('1d20', c.info.initiative)"></roll>;
				<span ng-if="c.info.senses">
					<b>Senses</b>&#32;
					<e ng-repeat="sense in c.info.senses" d="sense">
						<span ng-if="!$last">,&#32;</span>
					</e>;
				</span>
				<b>Perception</b>&#32;
				<roll name="c.perception.name" die="c.perception.roll()"></roll>
			</p>
			<hr>
		</section>
		<section id="{{c.info.name.toLowerCase()}}-defense" ng-if="c.defense">
			<p>
				<b>AC</b>
				{{c.defense.ac.total()}},
				<b>touch</b>
				{{c.defense.ac.touch()}},
				<b>flat-footed</b>
				{{c.defense.ac.flatfooted()}}
				({{c.defense.ac.toString()}})
			</p>
			<p>
				<b>CMD</b>
				{{c.defense.cmd.total()}},
				<b>flat-footed</b>
				{{c.defense.cmd.flatfooted()}}
				({{c.defense.cmd.toString()}})
			</p>
			<p>
				<b>HP</b>
				{{c.info.hp}}
				({{c.info.hdText}})<span ng-if="c.info.hpSpecials">;&#32;</span>
				<e ng-repeat="sp in c.info.hpSpecials" d="sp"><span ng-if="!$last">,&#32;</span></e>
			</p>
			<p>
				<b>Fortitude</b>
				&#32;<roll name="'Fortitude Save'" die="c.defense.fort.roll()"></roll>;
				<b>Reflex</b>
				&#32;<roll name="'Reflex Save'" die="c.defense.refl.roll()"></roll>;
				<b>Will</b>
				&#32;<roll name="'Will Save'" die="c.defense.will.roll()"></roll>
			</p>
			<p>
				<span ng-if="c.defense.dr">
					<b>DR</b>
					{{c.defense.dr}}<span ng-if="c.defense.immune || c.defense.resist || c.defense.sr">;&#32;</span>
				</span>
				<span ng-if="c.defense.immune">
					<b>Immune</b>&#32;
					<e ng-repeat="im in c.defense.immune" d="im">
						<span ng-if="!$last">,&#32;</span>
					</e>
					<span ng-if="c.defense.resist || c.defense.sr">;&#32;</span>
				</span>
				<span ng-if="c.defense.resist">
					<b>Resist</b>
					{{c.defense.resist}}
					<span ng-if="c.defense.sr">;&#32;</span>
				</span>
				<span ng-if="c.defense.sr">
					<b>SR</b>
					{{c.defense.sr}}
				</span>
			</p>
			<p ng-if="c.defense.special">
				<b>Special</b>
				<span ng-repeat="def in c.defense.special">
					{{def.times}} {{def.name}}<span ng-if="!$last">,&#32;</span>
				</span>
			</p>
			<hr>
		</section>
		<section id="{{c.info.name.toLowerCase()}}-offense" ng-if="c.offense">
			<p ng-repeat="(type, attacks) in c.offense.attacks">
				<b>{{type.toProperCase()}}</b>
				<span ng-repeat="attack in attacks | orderBy:'name'">
					<attack data="attack"></attack><span ng-if="!$last">,&#32;</span>
				</span>
			</p>
			<div ng-if="c.offense.spells" ng-repeat="caster in c.offense.spells | orderBy:'class'">
				<p>
					<b>{{caster.name}}</b>
					(CL
					{{caster.casterLevel.toOrdinal()}};
					concentration
					&#32;<roll name="'Concentration'" die="prependToString('1d20', caster.concentration())"></roll>)
				</p>
				<div ng-if="caster.markdown" class="spellList">
					<md md="caster.markdown"></md>
				</div>
				<div ng-if="!caster.markdown" class="spellList">
					<table>
						<tr ng-repeat="(level, spells) in caster.list">
							<td ng-if="!caster.noSpellLevels">{{(caster.list.length - 1 - level).toOrdinal()}}</td>
							<td class="per-day" ng-if="caster.perDay">{{caster.perDay[$index]}}</td>
							<td class="separator">-</td>
							<td>
								<span ng-repeat="spell in spells">
									<spell name="spell"></spell><span ng-if="!$last">,</span>
								</span>
							</td>
						</tr>
					</table>
					<p>
						<b>{{caster.otherText.heading}}</b>
						{{caster.otherText.text}}
					</p>
				</div>
			</div>
			<p>
				<b>Speed</b>
				{{c.offense.speed}}
			</p>
			<p>
				<b>Space</b>
				{{c.offense.space}};
				<b>Reach</b>
				{{c.offense.reach}}
			</p>
			<hr>
		</section>
		<section id="{{c.info.name.toLowerCase()}}-stats">
			<p>
				<span ng-repeat="ability in c.stats.scores | orderAbilityScores">
					<b>{{ability.sname}}</b>
					{{ability.score()}}
					&#32;<roll name="ability.name" die="ability.roll()"></roll><span ng-if="!$last">,&#32;</span>
				</span>
			</p>
			<p ng-if="c.hasTrainedSkills()">
				<b>Trained Skills</b>
				<span class="block" ng-repeat="skill in c.skills | filterSkills:'trained' | orderObjectBy:'name'">
					<i ng-class="skill.icon()"></i>
					{{skill.name}}
					&#32;<roll name="skill.name" die="skill.roll()" validation="skill.validation"></roll><span ng-if="!$last">,</span>
				</span>
			</p>
			<p ng-if="c.hasUntrainedSkills()">
				<b>Untrained Skills</b>
				<span class="block" ng-repeat="skill in c.skills | filterSkills | orderObjectBy:'name'">
					<i ng-class="skill.icon()"></i>
					{{skill.name}}
					&#32;<roll name="skill.name" die="skill.roll()" validation="skill.validation"></roll><span ng-if="!$last">,</span>
				</span>
			</p>
			<p ng-if="c.feats">
				<b>Feats</b>
				<span ng-repeat="feat in c.feats">
					<feat name="feat"></feat><span ng-if="!$last">,&#32;</span>
				</span>
			</p>
			<p ng-if="c.traits">
				<b>Traits</b>
				<span ng-repeat="trait in c.traits">
					<nethys type="Trait" item="trait" ng-class="classes">
						{{trait.split(' (')[0].split('||')[0]}}<span ng-if="trait.split(' (')[1].slice(0, 1)">({{trait.split(' (')[1].slice(0, 1)}})</span>
					</nethys><span ng-if="!$last">,&#32;</span>
				</span>
			</p>
			<p ng-if="c.languages">
				<b>Languages</b>
				<span ng-repeat="lang in c.languages | orderBy:'toLowerCase()'">
					{{lang}}<span ng-if="!$last">,&#32;</span>
				</span>
			</p>
		</section>
		<section id="{{c.info.name.toLowerCase()}}-specials" ng-if="c.specials">
			<hr>
			<md	ng-repeat="special in c.specials | orderBy:'toString()'" md="special" c='c'></md>
		</section>
		<section id="{{c.info.name.toLowerCase()}}-gear" ng-if="c.gear">
			<hr>
			<md	ng-repeat="item in c.gear | orderBy:'toString()'" md="item" c='c'></md>
		</section>
	</div>
	<hr ng-if="!$last">
</div>